* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  color: black;
}

body {
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.logo {
  width: 200px;
  border: 2px solid black;
}

.boton {
  margin: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.hidden {
  display: none;
  overflow: hidden;
}

.show {
  display: block;
  overflow: visible;
  width: 100%;
  background-color: #ff9f1c;
  padding: 2rem;
  padding-top: 1rem;
  position: absolute;
  top: 90px;
}

.show div {
  margin-bottom: 1rem;
}

.nav-flex {
  display: flex;
  align-items: baseline;
  background-color: #ff9f1c;
  flex-direction: column;
  height: 100px;
}

.nav-flex a:hover {
  color: #e6ebe0;
}

main {
  background-image: url(img/amigos.jpg);
  height: 89vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin-top: 0;
  color: #f4faff;
  font-size: 3rem;
}

.main-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  background-image: url(img/pexels-cottonbro-3951401.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background-color: #f4faff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-form {
  height: 85vh;
  background-color: #7a7d7d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

footer {
  height: 15vh;
  background-color: #8c001a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.birra {
  height: 200px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

input {
  max-width: 370px;
  margin: 0;
  padding: 0;
  width: 99%;
}
.divform {
  width: 50%;
  height: 50%;
}

.textarea {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

textarea {
  height: 70%;
  max-width: 360px;
}

label {
  width: 400px;
}
@media (min-width: 1200px) {
  .contact-form {
    flex-direction: row;
  }
}

.login {
  background-color: #f4faff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datos,  .datosRegis{
  height: 400px;
  max-width: 400px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
  background-color: #ff9f1c;
}

.datos h3, .datosRegis h3{
  margin: 0;
}

.datosRegis{
  height: 450px;
}